@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    overflow-x: hidden;
  }
}

/* @ Thêm font chữ Roboto + Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* @ Thêm font chữ Soro */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.style-address {
  @apply mb-3 font-bold uppercase text-white;
}
/* style thẻ h2 của các section */
.base_title {
  @apply my-6 text-center text-3xl font-bold text-[#2582BD] lg:my-14 lg:text-4xl;
}
/* style các đầu mục của : Giá trị chúng tôi đem lại  */
.sticker_check {
  @apply my-2 flex items-center;
}
.sticker_describe {
  @apply text-sm font-medium text-white lg:text-2xl overflow-hidden;
}
/* style các mục của : Thao tác 4 bước  */
.operation_text {
  @apply text-2xl font-bold text-blue-700;
}
.operation_img {
  @apply m-auto w-[90%] p-4;
}

/* @Style logo các đối tác  */
@keyframes slide {
  from {
    transform: translateX(-5);
  }
  to {
    transform: translateX(-50%);
  }
}

.partner_scroll {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.partner_scroll:before,
.partner_scroll:after {
  position: absolute;
  top: 0;
  content: '';
  z-index: 1;
}

.partner_logo {
  box-sizing: border-box;
  display: inline-block;
  animation: 15s slide infinite linear;
}

/* @ Pages Mô tả thông tin sản phẩm CheckID-ET100 */
.table_body {
  @apply border border-gray-300 bg-main-table p-3 text-left text-xl text-black;
}
.table_specification {
  @apply border border-gray-300 p-2 text-left font-roboto text-sm;
}
.table_item {
  @apply border border-gray-300 bg-main-table/40 p-2 text-left font-roboto text-sm;
}

.swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 1.25rem; */
}

/* @ Style nút cuộn lên đầu trang  */
.button_scroll {
  position: fixed;
  bottom: 1rem;
  right: 0.2rem;
  z-index: 10;
}
.button_call {
  position: fixed;
  bottom: 12rem;
  right: 0.2rem;
  z-index: 10;
}
.button_mail {
  position: fixed;
  bottom: 5rem;
  right: 0.2rem;
  z-index: 10;
}

.__react_modal_image__header {
  background-color: transparent !important;
}
.ant-tabs-nav {
  margin: auto !important;
}
